#bar_chart{
    height:250px;
}

#line_total{
    height:250px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.nofocus{
    fill:#bbbbbb;
}

#pie_country path {
    cursor: pointer;
}


#pie_country text {
    cursor: pointer;
}

.hlfigure{
    font-size:3em;
}

.hlsmfigure{
    font-size:1.8em;
}

.redslide{
    background-color:#b0120a;
    color: #FFF;
}

.redslide a {
    color:#FFF;
    text-decoration: underline;
}

.spacer {
    margin-top:40px;
}

.spacersm {
    margin-top:20px;
}

.spacerbottom {
    margin-bottom:40px;
}

.dashboard {
    color:#000;
}       

#pie_country text {
    fill:#fff;
    font-size:1.2em;
}

.row {
    border-bottom-style:solid;
    border-bottom-color:#cccccc;
    border-bottom-width:1px;
}

.tooltip {   
  position: absolute;           
  text-align: center;                  
  font: 12px sans-serif;        
  background: #f3f3f3;
  padding:10px;
  border-radius:5px;
}

.filtertable {
    display:inline-block;
}

.filterbox {
    display:inline-block;
    margin-left:10px;
}

.filterbutton {
    background-color:steelblue;
    color:white;
    padding: 5;
    border: none;
}

body {
    font-family: 'Gotham-Light', sans-serif;
}

.stat_title{
    font-size:18px;
}

.stat {
    font-size:48px;
}