#pie_country{
    height:250px;
}

#line_total{
    height:250px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.nofocus{
    fill:#bbbbbb;
}

#pie_country path {
    cursor: pointer;
}


#pie_country text {
    cursor: pointer;
}